.brand-logo {
  margin-left: 20px;
}

.tags {
  padding: 2px;
  border: 1px solid;
  border-radius: 5px;
  color: rgba(255,255,255,0.7);
  background-color: #356d95;
}

.actions {
  cursor: pointer;
}

.icon-delete {
  cursor: pointer;
}

.browser-default {
  margin-top: 33px;
}

.delete {
  color: red;
}