<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">iNote</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="home.html">Home</a></li>
        <li><a href="contribute.html">Contribute</a></li>
        <li><a href="update.html">Update</a></li>
      </ul>
  </div>
</nav>

<div class="search-input container center-align col s12 m12 l6">
  <input type="text" class="container search" name="search" (keyup)="searchSubmit($event)" [(ngModel)]="searchQuery"/>
  <i class="material-icons">search</i>
</div>

<div class="container">
  <button (click)="gotoAdd()" class="waves-effect waves-light btn right"><i class="material-icons left"></i>Create</button>
  <h5 class="center-align">Notes</h5>
  <!--<div class="center-align">-->
  <!--</div>-->
  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let note of allNotes let i=index;">
      <span class="title"><h6><b>{{note.title}}</b></h6></span>
      <p>{{note.content}}<br>
          <span class="tags" *ngFor="let tag of note.tags">{{tag.name}}</span>
      </p>
      <div class="secondary-content">
        <span (click)="gotoUpdate(note.id)" class="actions"><i class="material-icons">edit</i></span>
        <span (click)="deleteNote(note.id)" class="actions"><i class="material-icons">delete</i></span>
      </div>
    </li>
  </ul>
</div>
