.update {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 35px 70px;
    margin-top: 66px;
}

.waves-effect {
  margin-bottom: 20px;
}

span.back {
  cursor: pointer;
  color: grey;
  padding: 0px 38px;
  padding-bottom: 23px;
}